/* ------------------------------------------------------------------ COLORS */
/* ----------------------------------------------------------------- /COLORS */
/* ------------------------------------------------------------------- OSCAR */
body {
  background: #fff;
  max-width: 100vw;
  overflow-x: hidden;
}
body #main-content {
  padding: 50px 0 70px 0;
  height: 100%;
}
/* ------------------------------------------------------------------ /OSCAR */
/* ----------------------------------------------------------------- ALGEBRA */
#main-content .nav {
  background: #f58025;
}
#expression-list {
  height: 100%;
  font-weight: bold;
  text-align: center;
  overflow-y: scroll;
}
#expression-list-header {
  color: #fff;
  background-color: #f58025;
}
#algebra-content {
  height: 100%;
  width: 100%;
  border: none;
  border-radius: 10px;
  color: #424242;
  font-weight: 500;
}
#algebra-content > .row {
  height: 100%;
}
#algebra-content > .row > div {
  height: 100%;
}
#algebra-content .col-md-3,
#algebra-content .col-md-9 {
  padding: 0;
}
#algebra-content .col-md-9 {
  background: #f1f1f1;
}
#expression-form {
  padding: 30px 20px;
}
#expression-form label,
#expression-form input {
  display: inline-block;
}
#expression-form input {
  padding: 10px;
}
#expression-form-placeholder {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: .3;
  font-size: 3em;
  text-align: center;
}
/* ---------------------------------------------------------------- /ALGEBRA */
