/* ------------------------------------------------------------------ COLORS */

@main: #fff;
@second: #fafafa;
@third: #f58025;
@fourth: #eee;
@carbon: #424242;

/* ----------------------------------------------------------------- /COLORS */


/* ------------------------------------------------------------------- OSCAR */

body
{
  background: @main;
  max-width: 100vw;
  overflow-x: hidden;
}

body #main-content
{
  padding: 50px 0 70px 0;
  height: 100%;
}

/* ------------------------------------------------------------------ /OSCAR */


/* ----------------------------------------------------------------- ALGEBRA */

#expression-list
{
    height: 100%;

    font-weight: bold;
    text-align: center;

    overflow-y: scroll;
}

#expression-list-header
{
    color: @main;
    background-color: @third;
}

#algebra-content
{
  height: 100%;
  width: 100%;

  border: none;
  border-radius: 10px;

  color: @carbon;
  font-weight: 500;

  & > .row { height: 100%; & > div { height: 100%; }}
}

#expression-form
{
    padding: 30px 20px;

    label, input
    {
      display: inline-block;
    }

    input
    {
        padding: 10px;
    }
}

/* ---------------------------------------------------------------- /ALGEBRA */
