-load lesson_tags
-load static
-load compress
-compress js
  %script{type:"text/javascript", src:"{% static 'EquationForm.js' %}"}
%form{method: "POST"}
  -csrf_token
    -for question in questions
      -if question.description
        .well.question-description
          =question.description|safe|encode_utf8
      -else
        -# Should never reach this error
        %div.alert.alert-danger
          Erreur : Pas d'énoncé
      -with answer=question.get_answer
        .form-group
          -if answer.type == "text"
            %input.form-control{id: "{{ forloop.counter0 }}", name: "{{ forloop.counter0 }}", type: "text", autocomplete: "off"}
          -elif answer.type == "math" or answer.type == "math-simple" or answer.type == "math-advanced"
            %span
              %textarea.keyboard
              %span.mathquill{data-keyboard-type: "{{ answer.type }}"}
              %input.form-control.hidden-math-form{id: "{{ forloop.counter0 }}", name: "{{ forloop.counter0 }}", type: "text", autocomplete: "off"}

          -elif answer.type == "algebraicEquation" or question.type == "algebraicInequation"
            %br
            -with y=forloop.counter0|stringformat:"s"
              -with idans="ans"|add:y
                %input{:id => idans, :value=>"{{answer.answers.equations}}", :disable=>"disabled", :type =>"hidden"}
            =answer.answers.equations
            Entrez une étape et appuyez sur Enter:
            -with y=forloop.counter0|stringformat:"s"
              -with idpre="pre"|add:y
                %pre{:id=>idpre}

              -with idtext="text"|add:y
                %input{:type=>"text", :ng-model =>"text", :name=>"text", :id=>idtext, :onkeypress=>"myInputHandler(event, {{ forloop.counter0 }})"}
              -with idbut="buttonAlgebraic"|add:y
                %input{:type=>"button", :id=>idbut , :value=>"Ajouter une étape", :onclick=>"submit2({{ forloop.counter0 }})"}
              -with idbut="buttonclearAlgebraic"|add:y
                %input{:type=>"button", :id=>idbut , :value=>"Retirer une étape", :onclick=>"clearLastStep({{ forloop.counter0 }})"}
              %input.form-control{id: "{{ forloop.counter0 }}", name: "{{ forloop.counter0 }}", type: "hidden", autocomplete: "off"}
          -elif answer.type == "algebraicSystem"
            %br
            -for equation in answer.answers.equations
              =equation
              %br
            ="Première équation du système"
            %input.form-control{id: "{{ forloop.counter0 }}", name: "{{ forloop.counter0 }}", type: "text", autocomplete: "off"}
            %br
            ="Seconde équation du système"
            %input.form-control{id: "{{ forloop.counter0 }}", name: "{{ forloop.counter0 }}", type: "text", autocomplete: "off"}
          -elif answer.type == "radio"
            -with name=forloop.counter0
              -for option in answer.answers
                .radio
                  %label
                    %input{type: "radio", value: "{{ forloop.counter0 }}", name: "{{ name }}", autocomplete: "off"}
                    =option
          -elif answer.type == "checkbox"
            -with name=forloop.counter0
              -for option in answer.answers
                .checkbox
                  %label
                    %input{type: "checkbox", value: "{{ forloop.counter0 }}", name: "{{ name }}", autocomplete: "off"}
                    =option
          -elif answer.type == "graph"
            .graph{id: "graph-{{ forloop.counter0 }}", style: "width: 500px; height: 500px"}
            -with toploop_counter0=forloop.counter0
              -for answer in answer.answers
                %input{type: "number", value: "", name: "graph-{{ toploop_counter0 }}-{{ answer.graph.type }}-{{ forloop.counter0 }}-X", id: "graph-{{ toploop_counter0 }}-{{ answer.graph.type }}-{{ forloop.counter0 }}-X"}
                %input{type: "number", value: "", name: "graph-{{ toploop_counter0 }}-{{ answer.graph.type }}-{{ forloop.counter0 }}-Y", id: "graph-{{ toploop_counter0 }}-{{ answer.graph.type }}-{{ forloop.counter0 }}-Y"}
          -elif answer.type == "professor"
            %input.form-control{id: "{{ forloop.counter0 }}", name: "{{ forloop.counter0 }}", type: "text", autocomplete: "off"}
            -#%textarea.form-control{id: "{{ forloop.counter0 }}", name: "{{ forloop.counter0 }}", rows: "5"}
          -else
            =answer.type

    %input.btn.btn-primary{type: "submit", value: "Répondre"}



:css
   body {
     padding-bottom: 200px;
   }
