-extends "base.haml"

-block breadcrumb
  %ol.breadcrumb
    %li
      %a{href: "{% url 'professor:dashboard' %}"} Oscar
    %li
      %a{href: "{% url 'professor:lesson_detail' lesson.id %}"}
        Classe
        =lesson.name
    %li.active
      Évaluation libre



  %h3 Évaluation libre <i>{{ test.name }}</i>  pour la classe <a href="{% url 'professor:lesson_detail' lesson.pk %}">{{ lesson.name }}</a>
  %hr
  .row
    .col-lg-1
    -if match == 0
      .col-lg-3
        .panel.panel-default
          .panel-heading
            Avancement de la correction
          .panel-body
            %table.table
              %thead
                %th Élèves
                %th Progression
              -for st in lesson.students.all
                %tr
                  -for student in students
                    -if st.id == student.student_id
                      %td
                        %a{href: "{% url 'professor:lesson_test_from_scan_correct_by_student' lesson.pk test.pk st.id %}"}
                          {{st}}
                      %td
                        {{student.pourcentage}} corrigée(s)
    -else
      .col-lg-2
    .col-lg-6
      .ligneorange

        .container-fluid.boxclassetitle
          .pull-left
            %td.center{width: "20px"}
              %a.btn.btn-primary{href: "{% url 'professor:lesson_test_from_scan_detail' lesson.pk test.pk %}"}
                Retour au test
      .ligneorangefine


      .container-fluid.boxclassetitle
        %form.form{action: "", method: "post", name: "students", enctype: "multipart/form-data"}
          -csrf_token
          %select{name : "iscorrect"}}
            -if request.session.sort_answer == 0
              %option{value: "0", id: "1", selected:"selected"}
                Toutes les réponses
              %option{value: "1", id: "2"}
                Non corrigées
              %option{value: "2", id: "3"}
                Corrigées
            -elif request.session.sort_answer == 1
              %option{value: "0", id: "1"}
                Toutes les réponses
              %option{value: "1", id: "2", selected:"selected"}
                Non corrigées
              %option{value: "2", id: "3"}
                Corrigées
            -elif request.session.sort_answer == 2
              %option{value: "0", id: "1"}
                Toutes les réponses
              %option{value: "1", id: "2"}
                Non corrigées
              %option{value: "2", id: "3", selected:"selected"}
                Corrigées
          %button.btn.btn-primary{type: "submit"}
            Choisir
        %h5 Questions
        %form.form{action: "", method: "post", name: "corrections", enctype: "multipart/form-data"}
          -csrf_token
          -for answer in answers
            -for question in questions
              -if question.id == answer.question_id
                =question.question_num
                )
                =question.contexte
            -for student in lesson.students.all
              -if student.id == answer.student_id
                %p{style:"color:blue;text-align:right"}
                  [
                  =student
                  ]
            {% load static %}
            -if answer.is_correct
              %img.code.green.img-responsive{src : "{% static answer.reference %} "}
            -elif answer.is_correct == None
              %img.code.black.img-responsive{src : "{% static answer.reference %} "}
            -else
              %img.code.red.img-responsive{src : "{% static answer.reference %} "}
            .checkbox
              -if answer.is_correct
                %fieldset
                  %label
                    %input{type: "radio", value: 1, name: "c{{answer.id}}" ,checked:"checked"}
                    %i.fa.fa-check.fa-2x
                  %label
                    %input{type: "radio", value: 0, name: "c{{answer.id}}", autocomplete: "off"}
                    %i.fa.fa-times.fa-2x
                -elif answer.is_correct == None
                  %label
                    %input{type: "radio", value: 1, name: "c{{answer.id}}", autocomplete: "off"}
                    %i.fa.fa-check.fa-2x
                  %label
                    %input{type: "radio", value: 0, name: "c{{answer.id}}", autocomplete: "off"}
                    %i.fa.fa-times.fa-2x
                -else
                  %label
                    %input{type: "radio", value: 1, name: "c{{answer.id}}", autocomplete: "off"}
                    %i.fa.fa-check.fa-2x
                  %label
                    %input{type: "radio", value: 0, name: "c{{answer.id}}", checked:"checked"}
                    %i.fa.fa-times.fa-2x

              %p Commentaire
              %span
                %textarea{name:"t{{answer.id}}"}=answer.annotation
            .ligneorangefine
            %br



          %button.btn.btn-primary{type: "submit"}
            Valider


      .ligneorange




  :css
        .code {

            border-style : solid;
            border-color : black;
            border-width: 3px;

        }

        .fa.fa-check{
          color:green;
        }

        .fa.fa-times{
          color:red;
        }

        input{
          top:6px;
        }

        textarea{
          width:100%;
          height:100px;
        }

        .red{
          background:red;
          border-color : red;
        }

        .black{
          background:black;
          border-color : black;
        }

        .green{
          background:green;
          border-color : green;
        }














