-extends "base.haml"

-block breadcrumb
  %ol.breadcrumb
    %li
      %a{href: "{% url 'professor:dashboard' %}"} Oscar
    %li
      %a{href: "{% url 'professor:lesson_detail' lesson.id %}"}
        Classe
        =lesson.name
    %li.active
      Évaluation libre


-block content
  %h3 Évaluation libre <i>{{ test.name }}</i>  pour la classe <a href="{% url 'professor:lesson_detail' lesson.pk %}">{{ lesson.name }}</a>
  %hr

  .ligneorange

  .container-fluid.boxclassetitle
    .pull-left
      %td.center{width: "20px"}
        %a.btn.btn-primary{href: "{% url 'professor:lesson_test_list' lesson.pk %}"}
          Retour aux tests

  .ligneorangefine
  .container-fluid.boxclassetitle
    %td.center{width: "20px"}
      %form.form{action: "", method: "post", name: "copy", enctype: "multipart/form-data"}
        -csrf_token
        %input{type: "file", name: "copy", multiple : "multiple"}
        %br/
        %button.btn.btn-primary{type: "submit"}
          Importer des copies
  .ligneorangefine

  .boxclasse.container-fluid
    %h5 Compétences sélectionnées
    %ul.heatmap-list
      -for skill in test.skills.all
        %li
          %a.btn.btn-default.skill{type: "button", href: "{% url 'professor:lesson_skill_detail' test.lesson.pk skill.code %}"}
            %abbr{title: "{{ skill.name }}", style: "cursor: default; border: none"}= skill.code

          =skill.name
  .ligneorangefine

  .boxclasse.container-fluid
    %h5 Questions
    %ul.heatmap-list
      -for answer in answers
        %li.sld

          -for question in questions
            -if question.id == answer.question_id
              =question.question_num
              )
              =question.contexte
          {% load static %}
          %img.img-responsive{src : "{% static answer.reference %} "}




