-extends "algebraic/base.haml"
-block bootstrap3_title
  Algebraic list
-block breadcrumb
  %br
  %br
  %ol.breadcrumb
    %li
      %a{ :href => "{% url 'home' %}", :title => "Home" }
        Home
    %li.active
      Algebraic
-block algebraic_content
  %table.table
    %thead
      %tr
        %th Index
        %th Date creation
        %th Preview
        %th Level
        %th Solution
        %th Type
        %th Hide
        %th Edit
        %th Delete
    %tbody
      %tr
        %td 1
        %td 10/10/2017
        %td 5X + 25 = 10
        %td
          %input{:placeholder => "1", :type => "text"}/
        %td -3
        %td Equation
        %td
          %input{:checked => "checked", :type => "checkbox", :value => "on"}/
        %td
          %a.btn.btn-primary{:href => ""} Edit
        %td
          %a.btn.btn-primary.btn-danger{:href => ""} Delete
      %tr
        %td 2
        %td 11/10/2017
        %td 4X - 5 > -3X + 9
        %td
          %input{:placeholder => "3", :type => "text"}/
        %td 2
        %td Inequation
        %td
          %input{:type => "checkbox", :value => "on"}/
        %td
          %a.btn.btn-primary{:href => ""} Edit
        %td
          %a.btn.btn-primary.btn-danger{:href => ""} Delete
      %tr
        %td 3
        %td 12/10/2017
        %td 20X + 2 = 22
        %td
          %input{:placeholder => "2", :type => "text"}/
        %td 1
        %td Equation
        %td
          %input{:checked => "checked", :type => "checkbox", :value => "on"}/
        %td
          %a.btn.btn-primary{:href => ""} Edit
        %td
          %a.btn.btn-primary.btn-danger{:href => ""} Delete
  -# -for i in number
  -#   %p=i
