-extends "algebra/base.haml"
-load static
-block javascript
  %script{type: "text/javascript", src: "{% static 'js/creationExercise.js' %}"}
-block breadcrumb
  %ol.breadcrumb
    %li
      %a{ :href => "{% url 'home' %}", :title => "Home" }
        Home
    %li
      %a{ :href => "{% url 'algebra:list' %}", :title => "Liste exercice" }
        Algebra
    %li.active
      Créer exercice

-block algebra_content
  %form.formgroup
    .well
      %hr
      .row
        .col-md-1{:align => "center"}
          .row
            %label Level
          .row
           .btn-group.btn-group-lg
             %select.form-control{:id => 'exercice_level', :name => 'exercice_level'}
               %option 1
               %option 2
               %option 3
               %option 4
               %option 5
        .col-md-3{:align => "center"}
          .row
            %label Left side
          .row
           %span
             %textarea.keyboard
             %span.mathquill{data-keyboard-type: "math-advanced", :id => "leftSideMath"}
             %input.form-control.hidden-math-form{:id => "leftSide", :name => 'leftSide'}
        .col-md-1{:align => "center"}
          .row
            %label Operator
          .row
           .btn-group.btn-group-lg
             %select.form-control{:id => "signe", :name => 'signe'}
               %option =
               %option >
               %option <
        .col-md-3{:align => "center"}
          .row
            %label Right side
          .row
           %span
             %textarea.keyboard
             %span.mathquill{data-keyboard-type: "math-advanced", :id => "rightSideMath"}
             %input.form-control.hidden-math-form{:id => "rightSide", :name => 'rightSide'}
        .col-md-2{:align => "center"}
          .row
            %label Solution
          .row
           .col-md-11.offset-md-1
            %span
              %textarea.keyboard
              %span.mathquill{data-keyboard-type: "math-advanced", :id => "solutionMath"}
              %input.form-control.hidden-math-form{:id => "solution", :name => 'solution'}
        .col-md-1{:align => "center"}
          .row
            %label Submit
          .row
            %button.btn.btn-block.btn-primary{:id=> "concat"} Submit
        .col-md-1{:align => "center"}
          .row
            %label  Generate
          .row
            %button.btn.btn-block.btn-primary{:id=> "generate"} Auto
      %hr
      .row
        .col-md-12
          #status
