-extends "algebra/base.haml"

-block bootstrap3_title
  Algebra list

-block algebra_content
  .row
    .col-md-3
      #expression-list.list-group
        %a#expression-list-header.list-group-item Expressions
    .col-md-9
      #expression-form
