-extends "algebra/base.haml"

-block bootstrap3_title
  Algebra list

-block algebra_content
  .row
    .col-md-3
      #expression-list-header Expressions
      #expression-list.list-group
        %a#expression-list-new.list-group-item{:onclick => "makeForm(this, true)"} New expression
    .col-md-9
      #expression-form
        #expression-form-placeholder
          .glyphicon.glyphicon-star
          %div
            Pick an expression
