  

<!-- Training session student -->
  <div class="gradient-overlay bg-danger pi-draggable" draggable="true">
    <div class="py-5 pi-draggle" draggable="true">
      <div class="container">
        <div class="card">
          <div class="card-block">
            <div class="col-md-12">
              <h1 class="text-center display-3 text-primary">Type</h1>
              <h2 class="text-center text-dark"><em>Level</em></h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Debut de test -->
    <!-- Contenair titre + progression DEBUT-->
    <div id="s_pricing1" class="p-1" draggable="true">
      <div class="container">
        <div class="row">
          <div class="p-3 align-self-top col-md-8">
            <div class="card">
              <div class="card-block p-5">
                <h1>Question : </h1>
                <hr>
                <h3><em>"Expression"</em></h3>
              </div>
            </div>
          </div>
          <div class="p-3 align-self-top col-md-4">
            <div class="card">
              <div class="card-block p-4">
                <h1>Score</h1>
                <hr>
                <h3>Success : 8/10</h3>
                <h3>Progress : </h3>
                <div class="progress pi-draggable" draggable="true">
                  <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Contenair titre + progression FIN-->
    <!-- Contenair Question + nav DEBUT-->
    <div class="p-1" id="s_pricing2" draggable="true">
      <div class="container">
        <div class="row">
          <div class="p-3 align-self-top col-md-8">
            <div class="card">
              <div class="card-block p-3">
                <div class="row">
                  <div class="align-self-center col-md-8">
                    <input placeholder="Step 1" name="termWithVariable" class="form-control">
                    <input placeholder="Step 2" name="termWithVariable" class="form-control">
                    <input placeholder="Step 3" name="termWithVariable" class="form-control">
                    <input placeholder="Step 4" name="termWithVariable" class="form-control"> </div>
                  <div class="p-3 align-self-center col-md-4">
                    <input placeholder="Hint step 1" name="termWithVariable" class="form-control">
                    <input placeholder="Hint step 2" name="termWithVariable" class="form-control">
                    <input placeholder="Hint step 3" name="termWithVariable" class="form-control">
                    <input placeholder="Hint step 4" name="termWithVariable" class="form-control"> </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-md-3">
                    <a href="#" class="btn btn-dark btn-block">Clear</a>
                  </div>
                  <div class="col-md-3">
                    <a href="#" class="btn btn-danger btn-block">Previous</a>
                  </div>
                  <div class="col-md-3">
                    <a href="#" class="btn btn-success btn-block">Next</a>
                  </div>
                  <div class="col-md-3">
                    <a href="#" class="btn btn-primary btn-block text-white">Check</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="p-3 align-self-top col-md-4">
            <div class="card">
              <div class="card-block p-5">
                <h2>Test navigation</h2>
                <hr>
                <div class="row">
                  <div class="align-self-center col-md-6 p-1">
                    <a href="#" class="btn btn-success btn-block ">Q 1</a>
                  </div>
                  <div class="align-self-center col-md-6 p-1">
                    <a href="#" class="btn btn-success btn-block">Q 2</a>
                  </div>
                </div>
                <div class="row">
                  <div class="align-self-center col-md-6 p-1">
                    <a href="#" class="btn btn-success btn-block">Q 3</a>
                  </div>
                  <div class="align-self-center col-md-6 p-1">
                    <a href="#" class="btn btn-success btn-block">Q 4</a>
                  </div>
                </div>
                <div class="row">
                  <div class="align-self-center col-md-6 p-1">
                    <a href="#" class="btn btn-success btn-block">Q 5</a>
                  </div>
                  <div class="align-self-center col-md-6 p-1">
                    <a href="#" class="btn btn-success btn-block">Q 6</a>
                  </div>
                </div>
                <div class="row">
                  <div class="align-self-center col-md-6 p-1">
                    <a href="#" class="btn btn-success btn-block">Q 7</a>
                  </div>
                  <div class="align-self-center col-md-6 p-1">
                    <a href="#" class="btn btn-success btn-block">Q 8</a>
                  </div>
                </div>
                <div class="row">
                  <div class="align-self-center col-md-6 p-1">
                    <a href="#" class="btn btn-primary text-white btn-block">Q 9</a>
                  </div>
                  <div class="align-self-center col-md-6 p-1">
                    <a href="#" class="btn btn-primary text-white btn-block">Q 10</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Contenair Question + nav FIN-->
  </div>